﻿@page "/send"
@using Microsoft.AspNetCore.Components.Forms

<section>
    <div class="intro-stuff">
        <p>yes intro stuff here</p>
    </div>
    <div class="form-container">
        <EditForm Model="@_messageToYeet" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="Name">Name:</label>
                <InputText id="Name" @bind-Value="_messageToYeet.Name" class="form-control" />
                <ValidationMessage For="@(() => _messageToYeet.Name)" />
            </div>

            <div class="form-group">
                <label for="Email">Email:</label>
                <InputText id="Email" @bind-Value="_messageToYeet.Email" type="email" class="form-control" />
                <ValidationMessage For="@(() => _messageToYeet.Email)" />
            </div>

            <div class="form-group">
                <InputCheckbox @bind-Value="_messageToYeet.Booked" /> Booked
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</section>

