﻿
<h4>Receiving for routing key: @RoutingKey</h4>


@foreach(var message in _messageList)
{
    <div>
        <p>
            Received message about tour with Name: @message.Name & Email: @message.Email Booking status: @(message.Booked ? "Booked" : "Canceled")
        </p>
    </div>
}







