﻿<EditForm Model="_sender" OnValidSubmit="SendInfo">
    <div>
        <label>
            Name:
            <InputText @bind-Value="_sender.Name" />
        </label>
    </div>
    <div>
        <label>
            Email:
            <InputText @bind-Value="_sender.Email " type="email"/>
        </label>
    </div>
    <div>
        <label>
            Booking:
            <InputCheckbox @bind-Value="_sender.Booked" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>

</EditForm>