﻿@page "/"
@using RabbitMQ_Opgave.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<Send />

<Receiver RoutingKey="tour.booked"/>
<Receiver RoutingKey="tour.*" />
<DeadLetterExchangeReceiver/>