﻿@page "/receive"

<div class="meta-data">
    <p>Connected to exchange: <span class="bold">@_exchange</span></p>
    <p>Using binding key: <span class="bold">@BindingKey</span></p>
</div>


@if (_messagesReceived.Count > 0)
{
    <div class="messages-container">
        @for (int i = _messagesReceived.Count - 1; i >= 0; i--)
        {
            <p>@_messagesReceived[i]</p>
        }
    </div>
}
else
{
    <div>
        <p>No messages received yet.</p>
    </div>
}
