﻿<EditForm Model="_sender" OnValidSubmit="SendInfo">
    
    <InputText @bind-Value="_sender.Name" />
    <InputText @bind-Value="_sender.Email" type="email"/>
    <InputCheckbox @bind-Value="_sender.Booked" />

    <button type="submit">Submit</button>

</EditForm>