﻿@using System.Timers;

<header>
    <section id="top-part-yes">
        <div class="image-container">
            <img src=@_imageUrl alt="good picture, yes" />
        </div>
    </section>
    <section id="power-bottom">
        <div class="meta-data">
            <p>Left side is for sending.</p>
            <p>Right side is for receiving.</p>
            <p @onclick="TimerLooperThing">@_statusText</p>
        </div>
    </section>
</header>

@code {
    private string _statusText = "Yes.";

    private List<string> _imageUrls = new();
    private string _imageUrl = String.Empty;

    private System.Timers.Timer _timer;

    public HeaderComponent()
    {
        // Do the timer stuff.
        _timer = new System.Timers.Timer(10000);
        _timer.Elapsed += new System.Timers.ElapsedEventHandler(ChangeCurentImage); 
        _timer.AutoReset = true;
        _timer.Enabled = true;

        // Add a bunch of images.
        _imageUrls.Add("https://i.imgur.com/hbwTpmx.png");
        _imageUrls.Add("https://i.imgur.com/OBsL4hh.png");
        _imageUrls.Add("https://media.tenor.com/SmKGlfj3-b8AAAAC/spooky-scary.gif");
        _imageUrls.Add("https://i.imgur.com/ce3IRFn.png");
        _imageUrls.Add("https://i.imgur.com/D2rNt10.png");

        // Make sure we actually got an image at the first iteration.
        _imageUrl = _imageUrls[0];
    }

    private void ChangeCurentImage(object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            int currentIndex = _imageUrls.IndexOf(_imageUrl);

            if(currentIndex + 1 == _imageUrls.Count)
            {
                currentIndex = -1;
            }

            _imageUrl = _imageUrls[currentIndex + 1];
            StateHasChanged();
        });
    }

    private void TimerLooperThing()
    {
        _timer.Enabled = !_timer.Enabled;

        _statusText = _timer.Enabled switch
        {
            true => "Yes.",
            false => "Non."
        };
    }
}