﻿@using RabbitMqLibrary;
<div class="meta-data">
    <p>Connected to the dead letter exchange: <span class="bold">@LibraryConstants.DeadLetterExchangeName</span></p>
</div>


@if (_messagesReceived.Count > 0)
{
    <div class="messages-container">
        @for (int i = _messagesReceived.Count - 1; i >= 0; i--)
        {
            <p>@_messagesReceived[i]</p>
        }
    </div>
}
else
{
    <div>
        <p>No messages received yet.</p>
    </div>
}
