﻿@page "/"

<div class="very-good-page-yes">

    <div class="sender-container">
        <SenderPage />
    </div>

    <div class="receiver-container">
        <div class="receiving">
            <ReceiverPage BindingKey="tour.booked" />
        </div>
        <div class="receiving">
            <ReceiverPage BindingKey="tour.*" />
        </div>
        <div class="receiving">
            <DeadLetterExchangeReceiver />
        </div>
    </div>

</div>