﻿section {
    max-width: 500px;
    min-width: 500px;
}

.intro-stuff {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

::deep form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

::deep label {
    margin-bottom: 8px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

    .form-group.not-you {
        align-items: flex-start;
    }

::deep input {
    padding: 10px;
    font-size: 18px;
    outline: 0;
    border-radius: 8px;
}

button {
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    color: var(--link-text);
    background-color: var(--tertiary-bg);
    border: 1px solid var(--secondary-bg);
}