﻿header {
    max-width: 300px;
    background-color: var(--secondary-bg);
    gap: 100px;
    display: flex;
    flex-direction: column;
}

#top-part-yes {
    padding: 15px;
}

.image-container {
    width: 100%;
}

.image-container img {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.meta-data {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 26px;
}

nav ::deep a {
    display: block;
    color: var(--link-text);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--primary-bg);
    padding: 15px;
    border-radius: 10px;
}

nav ::deep a:hover {
    filter: brightness(1.1);
    font-weight: 900;
}

nav {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav div {
    width: 100%;
}