﻿<header>
    <section id="top-part-yes">
        <div class="image-container">
            <img src="https://i.imgur.com/wRIq1UW.jpg" alt="good picture, yes" />
        </div>

        <div class="meta-data">
            <p>Send is for sending.</p>
            <p>Receive is for receiving.</p>
            <p>Yes.</p>
        </div>
    </section>

    <nav>
        <div>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="send" Match="NavLinkMatch.All">
                Send
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="receive" Match="NavLinkMatch.All">
                Receive
            </NavLink>
        </div>
    </nav>
</header>